aiomysql==0.2.0
beautifulsoup4==4.12.3
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
gevent==24.2.1
google==3.0.0
greenlet==3.0.3
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pillow==10.2.0
protobuf==4.25.3
PyMySQL==1.1.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
setuptools==69.1.1
simpy==4.1.1
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.28
typing_extensions==4.10.0
zope.event==5.0
zope.interface==6.2
